name: CI (ELK micro-branches)

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches-ignore: [ "main" ]  # branch-ի վրա push-ի ժամանակ էլ կվազի
  workflow_dispatch:

jobs:
  detect:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4

  test_es:
    needs: detect
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - name: Start Elasticsearch, Kibana and Logstash
        run: |
          set -e
          docker compose up -d && \
          chmod +x ./docker-up.sh && \
          ./docker-up.sh

      - name: Run down script
        run: |
          set -e
          docker compose down --remove-orphans --volumes && \
          chmod +x ./docker-down.sh && \
          ./docker-down.sh