name: CI (ELK micro-branches)

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches-ignore: [ "main" ]  # branch-ի վրա push-ի ժամանակ էլ կվազի
  workflow_dispatch:

jobs:
  detect:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4

  test_es:
    needs: detect
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - name: Start Elasticsearch, Kibana and Logstash
        env:
          ELASTIC_PASSWORD: ${{ secrets.ELASTIC_PASSWORD }}
          KIBANA_SYSTEM_PASSWORD: ${{ secrets.KIBANA_SYSTEM_PASSWORD }}
        run: |
          set -e
          chmod +x ./scripts/check-container.sh && \
          chmod +x ./scripts/check-workers.sh && \
          ./scripts/check-container.sh -n elasticsearch kibana logstash

      - name: Run down script
        run: |
          set -e
          chmod +x ./scripts/check-container.sh && \
          ./scripts/check-container.sh -c down --remove-orphans --volumes