name: CI (ELK micro-branches)

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches-ignore: [ "main" ]  # branch-ի վրա push-ի ժամանակ էլ կվազի
  workflow_dispatch:

jobs:
  detect:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4

  test_es:
    needs: detect
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - name: Install jq
        run: |
          command -v jq >/dev/null 2>&1 || { echo "jq missing on runner. Install it on the runner host."; exit 1; }
      - name: Start Elasticsearch, Kibana and Logstash
        env:
          ELASTIC_PASSWORD: ${{ secrets.ELASTIC_PASSWORD }}
          KIBANA_SYSTEM_PASSWORD: ${{ secrets.KIBANA_SYSTEM_PASSWORD }}
        run: |
          set -e
          docker compose up -d && \
          chmod +x ./scripts/check-container.sh && \
          status_es="$(curl -s -u "elastic:${ELASTIC_PASSWORD}" http://localhost:9200/_cluster/health | jq -r '.status')"
          status_kibana="$(curl -s http://localhost:5601/api/status | jq -r '.status.overall.level')"
          status_logstash_pipeline="$(curl -s -o /dev/null -w "%{http_code}\n" http://localhost:9600)"
          status_logstash_index="$(curl -s -u elastic:${ELASTIC_PASSWORD} "http://localhost:9200/host-syslog-*/_count" | jq '.count')"
          

          ./scripts/check-container.sh -n elasticsearch kibana logstash -s ${status_es} ${status_kibana} ${status_logstash_pipeline}

      - name: Run down script
        run: |
          set -e
          docker compose down --remove-orphans --volumes && \
          chmod +x ./scripts/check-container.sh && \
          ./scripts/check-container.sh -c down --remove-orphans --volumes