name: Deploy ELK

on:
  push:
    branches: [ "testing" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy over SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            echo ls
            # set -e
            # cd /opt/ELK
            # git pull
            # docker compose up -d
            # docker compose ps
            # curl -s http://localhost:9200 >/dev/null
            # curl -s http://localhost:5601 >/dev/null
            # echo "Deploy OK"